{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <a class="btn btn-info btn-sm" href="{{ path('product_create') }}">Ajouter un produit</a>
    <a class="btn btn-info btn-sm" href="{{ path('category_create') }}">Ajouter une catégorie</a>

   <h1>Nos produits phares</h1>

    <div class="row">
        {% for p in products %}
            <div class="col-sm">
               {% include 'product/_product_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <hr>
    <h2>Un service irréprochable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci id, iste quasi repellat saepe.</p>

    <div class="row">
        {% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
            {% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
            {% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
    </div>
{% endblock %}
